/* basic foundation for everything */
html{scroll-behavior: smooth;}
body{
  margin: 0px;
  background-color: #f4f4f4;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p,a,li{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
  /****************************************************/
  /*** header styling */
  /****************************************************/

.menu-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 9999;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.25s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .menu > li > a:hover{
    color: lightblue;
    transition: 0.3s ease-in-out;
  }

  .scrolled-menu a:hover{
   color: lightblue !important; /* !important makes it so the hover effect is still applied to the links regardless of any rules in the style sheet.  */
    transition: 0.3s ease-in-out;
  }
  
  .menu-row .logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .menu-row .logo-container > div{
    height: 130px;
    transition: all .25s linear;
  }
  
  .menu-row .logo-container > div > a > img{
    height: 40%;
    width: auto;
    border-radius: 30px;
  }
  
  .menu{
    display: flex;
    list-style: none;
    padding: 30px;
  }
  
  .menu li{
    padding: 0px 10px;
  }
  .menu li a{
    color: #0e0e0e;
  }
  .scrolled-menu {
    background-color: #0e0e0e;
  }
  .scrolled-menu  .menu li a{
    color: #f4f4f4;
  }
  
  .menu-row .logo-container > a > img{
    height: 100px;
    width: auto;
    border-radius: 1000px; 
  }

  .hidden-nav{
    display: none;
  }

  /****************************************************/
  /*** masthead styling */
  /****************************************************/



.masthead{
  grid-area: hero;
  width: 100%;
  height: 100vh;
  background-image: url(../images/AdobeStock_291137317.jpeg);
  background-attachment: fixed; 
  background-size: cover;
  
}

.masthead > div > figure > img{

  padding-left: 0px; 
  height: 500px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;

  animation: up-down 2.6s infinite ease-in-out alternate;
  
}

/* keyframes is a css rule that allows the definition of a set of css styles that can be gradually applied to an element over time. */
@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-20px);
  }
}

.masthead > div{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.7);
}

.masthead > div > figure > h1{
  color: #f4f4f4;
  font-size: 50px;
  text-align: center;
  animation: up-down 2.6s infinite ease-in-out alternate;
}

main{
  grid-area: main;
}

.example-1{
  grid-template-columns: 100%;
  
}

.example-1 > h2{
  font-size: 3em;
}

  /****************************************************/
  /*** content section on homepage styling */
  /****************************************************/

  .message{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message h3, .message2 h3{
    font-size: 50px;
  }

  .content{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 75vh; 
  }

  .image1{
    background-image: url('../images/gym.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .image2{
    background-image: url('../images/outdoor\ waterbottle.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  
  }

  .image3{
    background-image: url('../images/shower.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .image1, .image2, .image3{
    height: 400px;
    width: auto;
    border-radius: 50px;
  }

  .image1 .mask{
  
    background-color: rgba(28, 158, 218, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all linear .25s;

  }

  .image2 .mask{
  
    background-color: rgba(27, 118, 202, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all linear .25s;

  }

  .image3 .mask{
  
    background-color: rgba(43, 68, 209, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all linear .25s;

  }

  .image1 .mask h2, .image2 .mask h2, .image3 .mask h2{
    color: #f4f4f4;
   font-size: 28px;
  }

  .image1 .mask:hover, .image2 .mask:hover, .image3 .mask:hover{
    opacity: 1;
    border-radius: 50px;
  }
  

  /****************************************************/
  /*** hamburger styling */
  /****************************************************/

  /* maybe get a link to credit your inspo */
  /* inspiration: https://codepen.io/Xavi1312/pen/pogLpMG */

  .menu-btn {
    --box-shadow-color: rgba(255, 101, 47, 0.2);
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 5px solid #fff; */
    transition: all 0.5s ease-in-out;
  }
  
  /* color change for when the header changes color on scroll */
  .scrolled-menu  .menu-btn .menu-btn__burger{
    background-color: #f4f4f4;
  }

  .scrolled-menu  .menu-btn .menu-btn__burger::before{
    background-color: #f4f4f4;
  }

  .scrolled-menu  .menu-btn .menu-btn__burger::after{
    background-color: #f4f4f4;
  }
  
  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background-color: black; 
    box-shadow: 0 2px 5px var(--box-shadow-color);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  
  /* animation for the burger */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
    /****************************************************/
    /*** content slider styling */
    /****************************************************/

    #slider {
      margin: 0 auto;
      width: 800px;
      max-width: 100%;
      text-align: center;
   }
   #slider input[type=radio] {
      display: none;
   }
   #slider label {
      cursor: pointer;
      text-decoration: none;
   }
   #slides {
      padding: 10px;
      position: relative;
      z-index: 1;
       
   }
   #overflow {
      width: 100%;
      overflow: hidden;
   }
   #slide1:checked ~ #slides .inner {
      margin-left: 0;
   }
   #slide2:checked ~ #slides .inner {
      margin-left: -100%;
   }
   #slide3:checked ~ #slides .inner {
      margin-left: -200%;
   }
   #slide4:checked ~ #slides .inner {
      margin-left: -300%;
   }
   #slides .inner {
      transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      width: 400%;
      line-height: 0;
      height: 300px;
   }
   #slides .slide {
      width: 25%;
      float:left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #fff;
   }
   #slides .slide_1 {
      background-image: url(../images/wetwaterbottle.png);
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
      color: black;
      font-weight: bold;  
   }

   #slides .slide_2 {
      background-image: url(../images/greenbottle.png);
      background-size: 135%;
      background-repeat:no-repeat;
      background-position:center;
      color: black;
      font-weight: 700;
   }

   #slides .slide_3 {
      background-image: url(../images/metalwaterbottle1.png);
      background-repeat:no-repeat;
      background-size: 135%;
      background-position:center;
      color: black;
      font-weight: 700;
   }
   
   #slides .slide_4 {
      background-image: url(../images/waterglass.png);
      background-repeat:no-repeat;
      background-size: 70%;
      background-position:center;
      color: black;
      font-weight: 700;
      
   }
   
   #slides .slide_4 h2{
       font-weight: 900;  
   }
   
   #controls {
      margin: -180px 0 0 0;
      width: 100%;
      height: 50px;
      z-index: 3;
      position: relative;
   }
   #controls label {
      transition: opacity 0.2s ease-out;
      display: none;
      width: 50px;
      height: 50px;
      opacity: .4;
   }
   #controls label:hover {
      opacity: 1;
   }
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1) {
      background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
      float:right;
      margin: 0 -50px 0 0;
      display: block;
   }
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
      float:left;
      margin: 0 0 0 -50px;
      display: block;
   }
   #bullets {
      margin: 150px 0 0;
      text-align: center;
   }
   #bullets label {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius:100%;
      background: #ccc;
      margin: 0 10px;
   }
   #slide1:checked ~ #bullets label:nth-child(1),
   #slide2:checked ~ #bullets label:nth-child(2),
   #slide3:checked ~ #bullets label:nth-child(3),
   #slide4:checked ~ #bullets label:nth-child(4) {
      background: #444;
   }
   @media screen and (max-width: 900px) {
      #slide1:checked ~ #controls label:nth-child(2),
      #slide2:checked ~ #controls label:nth-child(3),
      #slide3:checked ~ #controls label:nth-child(4),
      #slide4:checked ~ #controls label:nth-child(1),
      #slide1:checked ~ #controls label:nth-last-child(2),
      #slide2:checked ~ #controls label:nth-last-child(3),
      #slide3:checked ~ #controls label:nth-last-child(4),
      #slide4:checked ~ #controls label:nth-last-child(1) {
         margin: 0;
      }
      #slides {
         max-width: calc(100% - 140px);
         margin: 0 auto;
      }
   }

    /****************************************************/
    /*** product page styling */
    /****************************************************/

    .product-image{
      display: grid;
      grid-template-columns: 50% 50%;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .product-info{
      margin-right: 20%;
    }

    .image-slider{
      margin-left: 20%;
    }

    .product-desc{
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
    }

    .product-title{
      font-size: 30px;
    }

    .product-price{
      font-size: 22px;
      font-weight: bold;
      animation: up-down1 2.6s infinite ease-in-out alternate;

    }

    @keyframes up-down1{
      from{
        transform: translatey(0px);
      }
      to{
        transform: translatey(-5px);
      }
    }

/****************************************************/
/*** masthead styling */
/****************************************************/

.masthead{
  grid-area: hero;
  width: 100%;
  height: 100vh;
  background-image: url(../images/AdobeStock_291137317.jpeg);
  background-attachment: fixed; 
  background-size: cover;
  
}

.masthead > div > figure > img{

  padding-left: 0px; 
  height: 500px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;

  animation: up-down 2.6s infinite ease-in-out alternate;
  
}

/* keyframes is a css rule that allows the definition of a set of css styles that can be gradually applied to an element over time. */
@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-20px);
  }
}

.masthead > div{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.7);
}

.masthead > div > figure > h1{
  color: #f4f4f4;
  font-size: 50px;
  text-align: center;
  animation: up-down 2.6s infinite ease-in-out alternate;
}

main{
  grid-area: main;
}

.example-1{
  grid-template-columns: 100%;
  
}

.example-1 > h2{
  font-size: 3em;
}


  /****************************************************/
  /*** masthead on product page styling */
  /****************************************************/

  .masthead-1{
    grid-area: hero;
    width: 100%;
    height: 100vh;
    background-image: url(../images/women\ holding\ water\ bottle.jpeg);
    background-attachment: fixed; 
    background-size: cover;
    
  }
  
  .masthead-1 > div > figure > img{
    padding-left: 0px; 
    height: 500px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }
  
  .masthead-1 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
  }
  
  .masthead-1 > div > figure > h1{
    color: #f4f4f4;
    font-size: 50px;
    text-align: center;
  }
  
  main{
    grid-area: main;
  }
  
  .example-1{
    grid-template-columns: 100%;
    
  }
  
  .example-1 > h2{
    font-size: 3em;
  }

  /****************************************************/
  /*** footer styling */
  /****************************************************/

  footer{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    align-items: center;
    background-color: #0e0e0e;
  }
  
  footer > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
  }
  
  footer > div:nth-child(1) > a > img{
    width: auto;
    height: 120px;
    width: auto;
    border-radius: 100px;
  }
  
  footer > div:nth-child(2) > p{
    color: white;
  }
  
  footer > div:nth-child(2){
    display: grid;
    justify-content: left;
  }
  
  footer > div > h5{
    font-size: 2.5em;
    color: white;
  }
  
  footer > div > form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
  }

  footer > div > form p {
    display: block;
    margin: 10px;
  }

  .form-container {
    justify-self: end;
  }
  
  footer > div > form > * {
    margin-left: 0;
    width: 100%;
  }
  
  footer > div > form > input[type="submit"]{
    margin-left: 0;
  }
  
  .footer-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #007bff;
    border-radius: 20px;
    color: white; 
    border: none;
    width: 100px;
    height: 35px
  }
  
  footer > div:nth-child(3){
    padding-left: 50px;
    padding-bottom: 30px;
    display: flex;
  }
  
  .footer-button:hover{
    background-color: #0062cc;
    transition: background-color 0.25s ease-in-out;
  }

  .form-container p input{
    border-radius: 20px;
    padding-left: 10px;
    font-family: 'Space Mono', monospace
  }

  .form-container form p textarea{
    border-radius: 20px;
    width: 247px;
    padding-left: 10px;
    font-family: 'Space Mono', monospace;
  }

  /****************************************************/
  /*** top svg section on product page styling */
  /****************************************************/

 .wavy-section {
  position: relative;
  height: 25px;
  width: 100%;
}

.wavy-section {
  fill:#448AFF;
  position: relative;
  height: 25px;
  width: 100%;
  margin-bottom: -25px;
}

.wavy-section1 {
  position: relative;
  height: 25px;
  width: 100%;
  top: -25px;
  fill: #376ece;
}

.top-svg{
  padding-bottom: 20%;
}

.bottom-svg{
  padding-bottom: 20%;
}

.top-svg{
  margin-top: 25px;
}

  /****************************************************/
  /*** bottom svg section on product page styling */
  /****************************************************/
  
  .wavy-section-bottom {
    fill: #448AFF;
    position: relative;
    height: 25px;
    width: 100%;
  }
  
  .wavy-section-bottom1 {
    position: relative;
    height: 25px;
    width: 100%;
    top: -25px;
    fill: #376ece;
  }

  .bottom-svg{
    margin-bottom: 45px;
  }

  /****************************************************/
  /*** contact page styling */
  /****************************************************/

  .contact-form-container{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 50px;
  }

  .questions > h1{
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 50px;
      font-family: 'Inter', sans-serif;
      letter-spacing: 10px;
      padding-top: 10px;
  }
  
  .contact-form-container form p input{
      border-radius: 20px;
      padding-left: 10px;
      font-family: 'Space Mono', monospace;
      background-color: #f4f4f4;
  }

  .contact-form-container form p textarea{
    border-radius: 20px;
    width: 247px;
    padding-left: 10px;
    font-family: 'Space Mono', monospace;
    background-color: #f4f4f4;
  }



  /****************************************************/
  /*** about us page styling */
  /****************************************************/

  .about-us{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ._water{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    padding-top: 10%;
    padding-bottom: 5%;
    letter-spacing: 10px;
  } 

  ._water h1{
    font-family: 'Space Mono', monospace;
  }

   .about-us div:first-child{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px; 
    align-items: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0px;
  } 

  .about-us div:first-child p{
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
  }

  .about-us div:first-child img{
    height: 230px;
    width: auto;
    border: solid #0e0e0e;
    transition: box-shadow .5s ease-out;
  }

  .about-us div:first-child img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow .5s ease-out;
  }

  .see-product{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  /* second about us section */

  .about-us2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }
    
  .about-us2 div:first-child{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px; 
    align-items: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0px;
  } 

  .about-us2 div:first-child p{
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
  }

  .about-us2 div:first-child img{
    height: 230px;
    width: auto;
    border: solid #0e0e0e;
    transition: box-shadow .5s ease-out;
  }

  .about-us2 div:first-child img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow .5s ease-out;
  }

  .about-us{
    background-color:#005abbc0; 
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 50px;
    transition: box-shadow .5s ease-out;
  }

  .about-us:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow .5s ease-out;
  }
        
  .about-us2{
    background-color:#448AFF; 
    padding-top: 100px;
    padding-bottom: 80px;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 50px;
    transition: box-shadow .5s ease-out;
    margin-top: 50px;
  }

  .about-us2:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow .5s ease-out;
  }
                 
  /****************************************************/
  /*** purchase button on product page styling */
  /****************************************************/

  button {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    height: 50px;
    transition: background-color 0.25s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  }

  button:hover {
    background-color: #0062cc;
  }
  
  button.success {
    background-color: #28a745;
  }

  button.success:hover {
    background-color: #0e810e;
  }

  button.removed {
    background-color: #dc3545;
  }

  button.removed:hover {
    background-color: #b82d3b;
  }

  .buy{
    display: flex;
    justify-content: center;
  } 

  .aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
    padding-top: 2%;
  }

  button:hover {
    animation: pop 0.7s ease-in-out;
  }
  
  /* this gives the button the "bouncing" effect */
  @keyframes pop {
    0% {
      transform: scale(1); /* button at original size */
    }
    50% {
      transform: scale(1.1); /* 10% more than original size */
    }
    100% {
      transform: scale(1); /* button back to original size */
    }
  }

  /****************************************************/
  /*** media queries */
  /****************************************************/

  
/* Styles for screens smaller than 768px (mobile devices) */
@media screen and (max-width: 768px) {
      .about-us{
        width: 100%;
        grid-template-columns: 100%;
      }
      .about-us div:first-child{
        width: 100%;
        grid-template-columns: 100%;
      }
      .about-us2{
        width: 100%;
        grid-template-columns: 100%;
      }
      .about-us2 div:first-child{
        width: 100%;
        grid-template-columns: 100%;
      }
      .product-image{
        grid-template-columns: 100%;
      }
      .image-slider{
        width: 100%;
        grid-template-columns: 100%;
      }
      #slides{
        width: 100%;
        grid-template-columns: 100%;
      }
      .bottom-svg{
        width: 100%;
        grid-template-columns: 100%;
        margin-bottom: 0px;
      }
      #globalFooter{
        width: 100%;
        grid-template-columns: 100%;
        margin-top: 0px;
      }
      #globalHeader{
        width: 100%;
        grid-template-columns: 100%;
      }
      .menu{
        width: 100%;
        grid-template-columns: 100%;
        display: flex;
      }
      .masthead-1{
        width: 100%;
        grid-template-columns: 100%;
        grid-area: hero;
        height: 100vh;
        background-attachment: fixed; 
        background-size: cover;
      }
      .masthead{
        width: 100%;
        grid-template-columns: 100%;
      }

}

/* Styles for screens between 768px and 1024px (tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-us{
    width: 100%;
    grid-template-columns: 100%;
  }
  .about-us div:first-child{
    width: 100%;
    grid-template-columns: 100%;
  }
  .about-us2{
    width: 100%;
    grid-template-columns: 100%;
  }
  .about-us2 div:first-child{
    width: 100%;
    grid-template-columns: 100%;
  }
  .product-image{
    grid-template-columns: 100%;
  }
  .image-slider{
    width: 100%;
    grid-template-columns: 100%;
  }
  #slides{
    width: 100%;
    grid-template-columns: 100%;
  }
  .bottom-svg{
    width: 100%;
    grid-template-columns: 100%;
    margin-bottom: 0px;
  }
  #globalFooter{
    width: 100%;
    grid-template-columns: 100%;
    margin-top: 0px;
  }
  #globalHeader{
    width: 100%;
    grid-template-columns: 100%;
  }
  .menu{
    width: 100%;
    grid-template-columns: 100%;
    display: flex;
  }
  .masthead-1{
    width: 100%;
    grid-template-columns: 100%;
    grid-area: hero;
    height: 100vh;
    background-attachment: fixed; 
    background-size: cover;
  }
  .masthead{
    width: 100%;
    grid-template-columns: 100%;
  }
}

/* Styles for screens larger than 1024px (desktops) */
@media screen and (min-width: 1024px) {
  
}
  
  /****************************************************/
  /*** media queries */
  /****************************************************/
  















